
* {
     box-sizing: border-box;
     max-width: 750px;
}

header {
background-color: rgb(27, 0, 34);
color: white;
padding: 10px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
border-radius: 20px;
width: 100%;
}

nav {
background-color: rgb(85, 49, 94);
width: 90%;
margin-left: 5%;
justify-content: space-around;
border-radius: 0px 0px 10px 10px;
display: flex;
flex-wrap: wrap;
}

/*el padding del nav va en la etiqueta a para que cuando pongs el hover ocupe el color todo el espacio*/
nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover { 
    background-color: rgb(27, 0, 34);
    justify-content: space-between;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    background-color: rgb(189, 169, 194);   
}

article {
    border: 2px solid rgb(27, 0, 34);
    border-radius: 20px;
    margin-block: 10px;
    padding: 20px;
    width: 100%;
    background-color: rgb(219, 219, 219);
    text-align: left;  
}

.imgporfolio { 
    display: grid;
    place-items: center;
    position: relative;
}

.foto { 
    width: 35%;
    display: block;
}

.overlay {
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    bottom: 5px;
    background-color: rgb(27, 0, 34);
    color: white;
    padding: 8px;
    width: 25%;
   
}

.imgporfolio:hover .overlay {
    opacity: 1;
}

.fondotexto {

    background-color: white;
    border-radius: 10px;
    padding: 1%;
    margin-block: 2%;
}
